@media (max-width: 768px) {
	:host {
		display: block;
	}

	[class*='p-8'] {
		padding: 1rem !important;
	}

	[class*='rounded-[2.5rem]'],
	[class*='rounded-3xl'] {
		border-radius: 1.25rem !important;
	}

	[class*='text-3xl'] {
		font-size: 1.5rem !important;
		line-height: 2rem !important;
	}

	[class*='w-32 h-32'] {
		width: 6rem !important;
		height: 6rem !important;
	}

	[class*='text-2xl'] {
		font-size: 1.25rem !important;
		line-height: 1.75rem !important;
	}
}
